<!DOCTYPE html>

<html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="{{site.url}}/resources/{{page.style}}/docco.css" />
  <link rel="stylesheet" media="all" href="{{site.url}}/resources/syntax.css" />
</head>

<body>
  {% comment %}
    This is a hack for dynamic includes.
  {% endcomment %}

  {% if page.style == 'parallel' %}
    {% include parallel_content.html %}
  {% elsif page.style == 'linear' %}
    {% include linear_content.html %}
  {% elsif page.style == 'classic' %}
    {% include parallel_content.html %}
  {% endif %}
</body>
</html>
